.linkDiv{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    height: 300px;
    padding-top: 4%; 
}
.linkDiv a img{
    margin-left: -70%;
}
.linkDiv-para{
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
 
}