.publicMainDiv {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.publicDiv p {
    text-align: center;
    color: black;
    text-align: start;
    font-size: 1.2rem;
}
.publicDiv h1 {
    color: black;
    text-align: start;
    margin-top: 10%;
}
.publicImgDiv img {
    height: 400px;
}
button {
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
  }

/* Styles for phone screens */
@media (max-width: 375px) {
    .publicMainDiv {
        flex-direction: column;
        padding: 20px;
    }
    .publicDiv p {
        font-size: 1rem;
        text-align: center;
        max-width: 70%;
    } 
    .publicDiv h1 {
        margin-top: 10%;
        text-align: center;
    }
    .publicImgDiv img {
        height: 200px;
        margin: 0 auto;
    }
    button {
        font-size: 1em;
        padding: 10px;
        border-radius: 20%;
    }
}